./rot/*
!./rot/crop
!./rot/dpi
./rot/crop/*
./rot/dpi/*
./back/*
./files/*
./input/*
./mask/*
!./mask/crops/
./mask/crops/*
!./mask/crops/teste
./mask/crops/teste/*
./output/*
./reboot/*
./results/*
./tiles/*
