labels/*
!labels/.gitkeep
rot/*
!rot/.gitkeep
!rot/crop
!rot/dpi
rot/crop/*
!rot/crop/.gitkeep
rot/dpi/*
!rot/crop/.gitkeep
back/*
!back/.gitkeep
files/*
!files/.gitkeep
input/*
!input/.gitkeep
mask/*
!mask/.gitkeep
!mask/crops
mask/crops/*
!mask/crops/.gitkeep
!mask/crops/teste
mask/crops/teste/*
!mask/crops/teste/.gitkeep
output/*
!output/.gitkeep
reboot/*
!reboot/.gitkeep
results/*
!results/.gitkeep
tiles/*
!tiles/.gitkeep
crop/*
!crop/.gitkeep
dpi/*
!dpi/.gitkeep
__pycache__/*
